<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    
</head>
<body>
    <div class="box">
        <div class="form">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>玩家真實姓名</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>玩家電話號碼</span>
                <i></i>
            </div>
            <div class="submit">
                <input type="submit" value="login">
            </div>
        </div>
    </div>
</body>
</html>